.home {
  background-color: #5e82ff;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

html {
  background-color: #5e82ff;
}

.inner-home-container {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-link-container {
  color: white;
  display: grid;
  grid-column: auto;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 10px;
}

.homelink {
  color: #5e82ff;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.homelink:hover {
  color: white;
  background-color: #92aaff;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 30px;
  background-color: white;
}

.nav-logo {
  height: 30px;
}

.signout-link {
  color: #5e82ff;
  text-decoration: none;
  font-weight: bold;
}

.signout-link:hover {
  color: #92aaff;
}

@media only screen and (max-width: 800px) {
  .home-link-container {
    grid-template-columns: 200px 200px;
  }
}

@media only screen and (max-width: 480px) {
  .home-link-container {
    grid-template-columns: 200px;
  }
}